{% load staticfiles %}
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'assets/js/vendor/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".content-markdown").each(function(){
                var content = $(this).text();
                var markedContent = marked(content);
                $(this).html(markedContent);
            });
            $(".post-it-self img").each(function(){
                    $(this).addClass("img-responsive");
            });
            //preview content
            var contentInput = $("#id_content");
            function setContent(value){
                var markedContent = marked(value);
                $("#previe-content").html(markedContent);
                $("#previe-content img").each(function(){
                    $(this).addClass("img-responsive");
                });
            }
            setContent(contentInput.val());
            contentInput.keyup(function(){
                var newContent = $(this).val();
                setContent(newContent)
            });

            //preview title
            var titleInput = $("#id_title");
            function setTitle(value){
                $("#preview-title").text(value);
            }
            setTitle(titleInput.val());
            titleInput.keyup(function(){
                var newTitle = $(this).val();
                setTitle(newTitle);
            });
        });
    </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>